.home {
  background-image: url("../Assets/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-size: cover;
}

.home1 {
  background-image: url("../Assets/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  background-size: cover;
}

.dashboard {
  min-height: 55vh;
  background-image: url("../Assets/leone-venter-VieM9BdZKFo-unsplash.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-top: 42px; */
}

.textWelcome {
  font-size: 22px;
}

.textFullName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding-top: 8px;
  font-weight: 900;
  /* padding-top: 8px; */
}

.textDesignation {
  font-size: 24px;
  /* padding-top: 12px; */
  /* display: flex; */
}

.divPersonal {
  position: absolute;
  /* background-color: green; */
  /* min-height: 60vh; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  align-items: center;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
}

ion-icon {
  color: rgb(154, 219, 154);
  font-size: 22px;
}

.img-circular {
  width: 180px;
  height: 180px;
  background-image: url("../Assets/WhatsApp\ Image\ 2021-04-12\ at\ 3.22.28\ PM.jpeg");
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
